#components-layout-demo-responsive .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

#components-form-demo-normal-login .login-form {
    max-width: 300px;
}

#components-form-demo-normal-login .login-form-forgot {
    float: right;
}

#components-form-demo-normal-login .login-form-button {
    width: 100%;
}


* {
    padding: 0;
    margin: 0;
}

p {

    display: block;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.login {
  width: 250px;
  position: absolute;
  right: 30%;
  top: 40%;
  text-align: center;
}
#root{
  overflow-y: scroll;
}

.work img{
  width: 100%;
  height: 500px;
}

.vote{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .header{
      height: 50px;
      display: flex;
      div{
          text-align: center;
          line-height: 50px;
          border-bottom: 1px solid #999;
          &:nth-child(1){
              flex: 2;
          }
          &:nth-child(2){
              flex: 6;
          }
          &:nth-child(3){
              flex: 2;
              font-size: 14px;
              color: blue;
          }
      }
  }
  .con{
      flex: 1;
      overflow: auto;
      padding: 10px 20px;
      p{
          margin-bottom: 15px;
          span{
              display: inline-block;
              width: 80px;
              height: 40px;
              text-align: left;
              line-height: 40px;
          }
          input{
              height: 36px;
              width: 250px;
              border: 2px solid #999;
              border-radius: 5px;
          }
          &:nth-child(2){
              height: 80px;
              line-height: 80px;
              span{
                  float: left;
                  height: 80px;
                  line-height: 80px;
              }
          }
          textarea{
              height: 80px;
              width: 250px;
              border: 2px solid #999;
              border-radius: 5px;
          }
          select{
              width: 150px;
              height: 40px;
              border-radius: 5px;
          }
          &.option{
              input{
                  width: 200px;
              }
              span{
                  &:nth-child(3){
                      width: 30px;
                      height: 30px;
                      text-align: center;
                      line-height: 30px;
                      font-size: 20px;
                      margin-left: 10px;
                      border-radius: 50%;
                      background: green;
                      color: #fff;
                  }
              }
          }
      }
      .time-wrap{
          height: 40px;
          line-height: 40px;
      }
  }
  .foot{
      height: 40px;
      text-align: center;
      button{
          width: 90%;
          height: 40px;
          border-radius: 5px;
          background: blue;
          color: #fff;
      }
  }
}

.first{
    .tab{
        height: 60px;
        padding: 5px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f7f7f8;
        span{
            flex: 1;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border: 1px solid orangered;
            color: orangered;
            border-radius: 5px;
            &.active{
                background: orangered;
                color: #fff;
            }
        }
    }
    .con{
        padding:0 20px;
        .item{
            height: 100px;
            box-shadow: rgba($color: #000000, $alpha: 0.5) 0 2px 4px 2px;
            background: #f7f7f8;
            margin-top: 15px;
            display: flex;
            div{
                padding: 10px;
                p{
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    margin-top: 10px;
                }
                &:nth-child(1){
                    flex: 2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                    }
                }
                &:nth-child(2){
                    flex: 3
                }
                &:nth-child(3){
                    flex: 5;
                }
            }
        }
    }
}